@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.info-form {
  margin: 0 auto;
  z-index: 2;

  .container {
    width: 100%;

    input {
      position: relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0px 20px 0px;
      padding: 0px 0px 0px 15px;
      width: 50%;
      height: 40px;
      border-radius: 6px;
      background-color: #ffffff;
      color: #c1c1c1;
      border: solid 1px #cecece;

      &:hover, &:focus {
        outline: transparent;
      }
    }

    .start_time {
      width: 45%;
      margin-left: 107px; 
    }

    .finish_time {
      width: 45%;
      margin-left: -107px;
    }

    .select-box-type {
      position:relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0px 20px 0px;
      width: 50%;
      height: 40px;
      box-shadow: none;
      border-radius: 6px;
      border: solid 1px #cecece;
      color: #747474;

      img {
        z-index: -1;
      }

      .type-select {
        position: absolute;
        top: 5px;
        left: 0px;
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        color: #747474;
        overflow: hidden;
        padding-left: 15px;
        border-radius: 6px;
      }
    }

    .select-box-city {
      position:relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0px 20px 0px;
      width: 50%;
      height: 40px;
      border-radius: 6px;
      border: solid 1px #cecece;
      box-shadow: none;
      color: #747474;

      img {
        z-index: -1;
      }

      .city-select {
        position: absolute;
        top: 5px;
        left: 0px;
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        color: #747474;
        overflow: hidden;
        padding-left: 15px;
        border-radius: 6px;
      }
    }

    .select-date {
      box-shadow: none;
      color: #747474;
    }

    textarea {
      position: relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 20px 0px 20px 0px;
      padding: 15px 0px 0px 15px;
      width: 50%;
      height: 120px;
      border-radius: 6px;
      background-color: #ffffff;
      color: #c1c1c1;
      border: solid 1px #cecece;

      &:hover, &:focus {
        outline: transparent;
      }
    }

    .upload-wrapper {
      position: relative;
      top: 0px;
      left: 230px;
      overflow: hidden;
      display: inline-block;

      .upload-button {
        width: 140px;
        height: 40px;
        border-radius: 18px;
        border: solid 1px #cecece;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 5px;
        text-align: center;
        background-image: linear-gradient(to bottom, #fca6a6, #ff7a7a);
      }

      input[type="file"] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }

    p {
      margin: -30px 0px 0px 500px;
      font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 500;
      font-style: italic;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 1.5px;
      text-align: left;
      color: #cccccc;

      span {
        color: #ff7a7a;
      }
    }

    .activity-button {
      position: relative;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      margin: 40px 0px 20px 0px;
      width: 50%;
      height: 45px;
      border-radius: 18px;
      border: solid 1px #cecece;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 5px;
      text-align: center;
      background-image: linear-gradient(to bottom, #fca6a6, #ff7a7a);

      &:focus, &:hover {
        outline: transparent;
      }
    }
  }
}

@media (max-width: 770px) {
  .info-form {
    .start_time {
      margin-left: 86px; 
    }

    .finish_time {
      margin-left: -86px;
    }

    .upload-wrapper {
      position: relative;
      top: 0px;
      left: 180px;
    }

    p {
      margin: -30px 0px 0px 350px;
    }
  }
}