@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.register {
  .register-open {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 25px;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    &:hover, &:focus {
      outline: transparent;
    }
  }
}


.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: 2;

    .ReactModal__Content {
      width: 430px;
      height: 90%;
      overflow: hidden;

      .reg-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        color: #ff5151;
        margin: 10px;
        padding-bottom: 10px; 
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #f7f7f7;
      }

      .register-close {
        position: relative;
        top: -80px;
        left: 370px;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: none;
        color: #ff5151;
        font-weight: 700;
        font-size: 20px;

        &:hover, &:focus {
          outline: transparent;
        }
      }

      form {
        input {
          position:relative;
          width: 380px;
          height: 50px;
          border: none;
          padding-left: 20px;
          margin: 10px 15px 10px 10px;
          outline: transparent;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.54);
        }

        .reg-icon {
          .icon-eye {
            position: absolute;
            top: 225px;
            right: 40px;
            color: #c1c1c1;
          }
        }

        .register-entry {
          position: relative;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 140px;
          height: 45px; 
          background-color: transparent;
          border: 1px solid #ff5151;
          border-radius: 7px;
        }

        .select-box {
          position: relative;
          padding: 15px;
          width: 380px;
          height: 50px;
          margin: 10px 15px 20px 10px;
          z-index: 1;
          border: 1px solid #ffffff;
          background-color: #ffffff;

          &:after {
            content:"";
            position: absolute;
            top: 25px;
            right: 10px;
            z-index: 2;
            border: 6px solid transparent;
            border-top: 6px solid #7c7c7c;
          }

          select {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 380px;
            height: 50px;
            border: 0px;
            box-shadow: 0px;
            overflow: hidden;
            z-index: 2;
            cursor: pointer;
            padding-left: 20px;
            position: absolute;
            -webkit-appearance: none;
            -max-appearance: none;
            -ms-appearance: none;
            color: #7c7c7c;
            background-color: #ffffff;
            box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.54);

            option{
              font-family: 'Open Sans', sans-serif;
              font-size: 14px;
              font-weight: 500;
              padding-left: 15px; 
              letter-spacing: -0.2px;
              text-align: center;
            }

            &:hover, &:focus {
              outline: transparent;
            }
          }
        }
      }

      .register-text {
        margin: 50px 0px 0px 70px;

        a {
          text-decoration: none;
          margin: 130px 0px 0px 5px;
          color: #ff5151;
        }
      }
    }
  }
}

