@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.select-date {
  position: relative;
  top: 10px;
  left: -90px;
  width: 145px;
  height: 45px;
  padding: 5px;
  border:none;
  border-radius: 2px;
  background-color: #ffffff;
  color: #9b9b9b;
  box-shadow: 0 2px 4px 0 rgba(138, 138, 138, 0.5);
}

@media (max-width: 770px) {
  .select-date {
    position: relative;
    top: 10px;
    left: -50px;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .select-date {
    position: relative;
    top: 10px;
    left: -80px;
  }
}