.header-photo {
  margin: 10px 0px 0px 0px;
  
  img {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0px 0px 60px 0px;
  }

  .header-text {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
  }
}