.footer-slider {
   position: relative;
   box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
   width: 100%;
   height: 250px;
   margin: 0px 0px 20px 0px;

   .container {
      width: 100%;

    .title {
      margin-right: 150px;

      p {
        position: absolute;
        top: 50%;
        left: -35px;
        transform: translateY(-50%);
        z-index: 2;
        transform: rotate(-90deg);
        margin-bottom: 20px;
        font-weight: 500;
      }

      .line {
        position: absolute;
        top: 70px;
        left: 35px;
        width: 2px;
        height: 70px;
        z-index: 2;
        background-color: #000000;
        border: 1px solid #000000;
      }
    }

    .choices {
      position: relative;
      top: 0px;
      left: 20px;
      padding: 25px 0px 25px 0px;
      background-color: #ffffff;

      img {
        width: 140px;
        height: 200px;
        margin: 0px -45px 0px 5px;
        padding: 0px;  
      }
    }

    .slick-initialized {
      width: 100%;

      .slick-arrow {
        border-radius: 50%;
        background-color: transparent;
      }

      .slick-prev {
        display: none;
        z-index: -1;
         
        &:before {
          content: '';
        }
      }

      .slick-next {
        position: absolute;
        right: 10px;
        padding: 0px;
        border-radius: 50%;

        &:before {
          content: '\2192';
          width: 12px;
          height: 12px;
          color: #000;
        }
      }

      .slick-track {
        width: 100%;
      }

      .slick-dots {
        li {
          width: 0px;
          height: 0px;
          background-color: transparent;
          border: #ffffff;

          button {
            &:before {
              content:"";
            }
          }

          &.slick-active {
            button {
              &:before {
                content:"";
                width: 0px;
                height: 0px;
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .footer-slider {
    .container {
      .title {
        p {
          position: absolute;
          top: 50%;
          left: -45px;
        }

        .line {
          position: absolute;
          top: 75px;
          left: 25px;
        }
      }
    
      .choices {
        position: relative;
        top:0px;
        left: 20px;

        img {
          margin: 0px 0px 0px -20px;
        }
      }
    }
  }
}
