.user-header {
  background-color: #ffffff;
  margin: 0px 0px 30px 0px;
  width: 100%;
  height: 70px;

  .user-header-right {
    float: right;

    .search {
      margin: 20px 0px 0px 0px;
      display: inline-block;
      position: relative;

      input {
        padding-left: 6px;
        border: #ffffff;
        border-bottom-color: #ff7a7a;;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:focus {
          outline: transparent;
        }

        &::-webkit-input-placeholder {
          font-style: italic;
        }

        &::-moz-placeholder {
          font-style: italic;
        }

        &:-ms-input-placeholder {
          font-style: italic;
        }

        &:-moz-placeholder {
          font-style: italic;
        }
      }

      .icon-magnifier {
        position: absolute;
        margin: -20px 0px 0px 170px;
        color: #ff7a7a;
      }
    }

    .aktivities-button {
      text-decoration: none;
      margin: 20px 60px 0px 20px;
      padding: 5px 15px 5px 15px ;
      width: 120px;
      height: 30px;
      border: 1px solid #ff7a7a;
      border-radius: 16px;
      background-color: transparent;
      color: #ff7a7a;

      &:focus, &:hover {
        text-decoration: none;
        outline: transparent;
      }
    }

    .exit {
      margin: -25px 0px 0px 340px;

      a{ 
        text-decoration: none;

        .icon-logout {
          
          color: #ff7a7a;
        }
      }

      &:hover, &:focus {
        outline: transparent;
      }
    }
  }
}

