@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.select-box-type {
  position: relative;
  top: 10px;
  left: 105px;
  padding: 15px;
  width: 145px;
  height: 45px;
  z-index: 1;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(138, 138, 138, 0.5);

  img {
    margin: -5px 0px 0px 0px;
    z-index: 3;
  }

  .type-select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 45px;
    border: 0px;
    box-shadow: 0px;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
    padding-left: 50px;
    border-radius: 2px;
    position: absolute;
    -webkit-appearance: none;
    -max-appearance: none;
    -ms-appearance: none;
    background-color: transparent;
    color: #9b9b9b;

    option{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.2px;
      text-align: center;
    }

    &:hover, &:focus {
      outline: transparent;
    }
  }
}

@media (max-width: 770px) {
  .select-box-type {
    position: relative;
    top: 10px;
    left: 30px;
  }
} 

@media (min-width: 770px) and (max-width: 1024px) {
  .select-box-type {
    position: relative;
    top: 10px;
    left: 75px;
  }
}