.content {
  .content-top {
    margin: -30px 0px 0px 100px;

    a {
      position: absolute;
      text-decoration: none;
      color: #ffffff;
      background-color: #000000;
      z-index: 1;

      .content-detail {
        .content-item {
          width: 230px;
          height: 340px;
        }

        .content-detail-text {
          position: absolute;
          right: 0px;
          bottom: 0px;
          background-color: #000000;
          width: 230px;
          height: 70px;
          opacity: 0.75;
          display: none;

          .event-type {
            margin: 20px 0px 0px 25px;
            font-family: 'Work Sans', sans-serif;
            font-weight: normal;
            line-height: 20px;
            font-size: 16px;
          }

          .event-own {
            margin: -2px 0px 0px 25px;
            font-family: 'Work Sans', sans-serif;
            font-size: 12px;
          }

          .detail-button {
            margin: -40px 0px 0px 130px;
            padding: 10px 15px 10px 15px;
          }
        }
      }

      &:hover {
        .content-detail {
          position: absolute;
          box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.5);
          
          .content-detail-text {
            display: inline;
            margin: 0px 0px 0px -250px;
          }
        }
      }
    }
  }

  .content-bottom {
    margin: 400px 0px 20px 100px;

    a {
      position: absolute;
      text-decoration: none;
      color: #ffffff;
      background-color: #000000;
      z-index: 1;

      .content-detail {
        .content-item {
          width: 230px;
          height: 340px;
        }

        .content-detail-text {
          position: absolute;
          right: 0px;
          bottom: 0px;
          background-color: #000000;
          width: 230px;
          height: 70px;
          opacity: 0.75;
          display: none;

          .event-type {
            margin: 20px 0px 0px 25px;
            font-family: 'Work Sans', sans-serif;
            font-weight: normal;
            line-height: 20px;
            font-size: 16px;
          }

          .event-own {
            margin: -2px 0px 0px 25px;
            font-family: 'Work Sans', sans-serif;
            font-size: 12px;
          }

          .detail-button {
            margin: -40px 0px 0px 130px;
            padding: 10px 15px 10px 15px;
          }
        }
      }

      &:hover {
        .content-detail {
          position: absolute;
          box-shadow: 0 0 44px 0 rgba(0, 0, 0, 0.5);

          .content-detail-text {
            display: inline;
            margin: 0px 0px 0px -250px;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {
  .content {
    .content-top {
      margin: -30px 0px 0px 60px;
    }

    .content-bottom {
      margin: 400px 0px 20px 60px;
    }
  }
}