.header {
  background-color: #ffffff;
  margin: 0px 0px 30px 0px;
  width: 100%;
  height: 70px;

  .header-right {
    float: right;

    .search {
      margin: 20px 90px 0px 0px;
      display: inline-block;
      position: relative;

      input {
        padding-left: 6px;
        border: #ffffff;
        border-bottom-color: #000000;
        border-bottom-width: 1px;
        border-bottom-style: solid;

        &:focus {
          outline: transparent;
        }

        &::-webkit-input-placeholder {
          font-style: italic;
        }

        &::-moz-placeholder {
          font-style: italic;
        }

        &:-ms-input-placeholder {
          font-style: italic;
        }

        &:-moz-placeholder {
          font-style: italic;
        }
      }

      .icon-magnifier {
        position: absolute;
        margin: -20px 0px 0px 170px;
        color: #000000;
      }

    }

    .login {
      margin: -20px 0px 0px 200px;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }

    .register {
      margin: -25px 40px 0px 260px;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }
  }
}
