 .detail-button {
  float: right;
  text-decoration: none;
  margin: -50px 0px 0px 0px;
  padding: 20px 50px 20px 50px;
  border-radius: 22px;
  border: 1px solid #ff4e4e;
  background-color: transparent;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  &:focus, &:hover {
    text-decoration: none;
    outline: transparent;
    color: #000;
  }
}