@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

#root {
  min-height: 100%;
}

.add-activity {
  height: 100%;

  .activity-info {
    margin: 0px auto;
    max-width: 940px;
    height: 100%;
    background: url(/images/bg.png) #fff 0 0 no-repeat;
    background-size: 90%;
    box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.54);

    .activity-title {
      padding: 30px 0px 20px 0px;
      font-family: 'Open Sans', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-variant: normal;
      font-weight: 700;
      line-height: 48px;
      text-align: center;
      color: #fff;
      z-index: 3;
    }
  }
}