@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

#root {
  min-height: 100%;
}

.detail-page {
  height: 100%;

  .detail-content {
    margin: 0px auto;
    max-width: 940px;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.54);

    .detail-name {
      position: relative;
      min-height: 100px;
      width: 100%;

      &__left {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        
        .name-bottom {
          font-family: 'Open Sans', sans-serif;
          font-size: 46px;
          font-weight: bold;
          letter-spacing: 12px;
          color: #ffecec;
        }

        .name-top {
          position: absolute;
          left: auto;
          bottom: 10px;
          right: 0px;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 5px;
          color: #000000;
        }
      }

      &__middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        .activity-name {
          margin-top: 20px;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 27px;
          text-align: center;
          color: #000000;
        }

        .activity-type {
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 18.9px;
          text-align: center;
          color: #ff7a7a;
        }
      }

      &__right {
        position: absolute;
        top: 50%;
        left: auto;
        right: 20px;
        transform: translateY(-50%);
        
        .date-bottom {
          font-family: 'Open Sans', sans-serif;
          font-size: 46px;
          font-weight: bold;
          letter-spacing: -3.7px;
          color: #ffecec;
        }

        .date-top {
          position: absolute;
          left: auto;
          bottom: 10px;
          right: 0px;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -1.5px;
          color: #000000;
        }
      }
    }

    .detail-slider {
      .slick-initialized {
        .slick-arrow {
          border-radius: 50%;
          background-color: transparent;
        }

        .slick-prev {
          margin-left: 25px; 
          z-index: 3;

          &:before {
            content: '\2190';
            width: 12px;
            height: 12px;
            color: #ff7a7a;
          }
        }

        .slick-next {
          margin-right: 25px;

           &:before {
            content: '\2192';
            width: 12px;
            height: 12px;
            color: #ff7a7a;
          }
        }

        .slick-track {
          .slider-item {
            width: 100%;
            overflow: hidden;

            img {
              width: 900px;
              height: 380px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .activity-description {
      position: relative;
      top: 0px;
      left: 0px;

      p {
        width: 665px;
        height: 104px;
        padding: 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #4d4d4d;
      }

      a {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 10px 25px 10px 25px;
        border-radius: 30px;
        background-color: #ff7a7a;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 8.3px;
        text-align: center;
        color: #ffffff;
      }
    }

    .detail-city {
      position: relative;
      min-height: 100px;
      width: 100%;

      &__left {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        
        .city-bottom {
          font-family: 'Open Sans', sans-serif;
          font-size: 46px;
          font-weight: bold;
          letter-spacing: 12px;
          color: #ffecec;
        }

        .city-top {
          position: absolute;
          left: auto;
          bottom: 10px;
          right: 0px;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: 5px;
          color: #000000;
        }
      }

      &__middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        .activity-city {
          margin-top: 20px;
          font-family: 'Open Sans', sans-serif;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 27px;
          text-align: center;
          color: #000000;
        }
      }

      &__right {
        position: absolute;
        top: 50%;
        left: auto;
        right: 20px;
        transform: translateY(-50%);
        
        .time-bottom {
          font-family: 'Open Sans', sans-serif;
          font-size: 46px;
          font-weight: bold;
          letter-spacing: -3.7px;
          color: #ffecec;
        }

        .time-top {
          position: absolute;
          left: auto;
          bottom: 10px;
          right: 0px;
          font-family: 'Open Sans', sans-serif;
          font-size: 22px;
          font-weight: bold;
          letter-spacing: -1.5px;
          color: #000000;
        }
      }
    }

    .detail-address {
      margin: 30px auto;

      .address-top {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 27px;
        text-align: center;
        color: #000000;
      }

      .address-bottom {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 27px;
        text-align: center;
        color: #ff7a7a;
      }
    }
  }
}

@media (max-width: 770px) {
  .detail-page {
    .detail-content {

      .detail-name {
        &__left {
          .name-bottom {
            font-size: 36px;
          }

          .name-top {
            font-size: 18px;
          }
        }

        &__middle {
          p {
            font-size: 16px;
          }
        }

        &__right {
          .date-bottom {
            font-size: 36px;
          }

          .date-top {
            font-size: 18px;
          }
        }
      }

      .activity-description {
        p {
          width: 550px;
          height: 150px;
        }

        a {
          position: absolute;
          top: 40px;
          right: 20px;
        }
      }

      .detail-city {
        &__left {
          .city-bottom {
            font-size: 36px;
          }

          .city-top {
            font-size: 18px;
          }
        }

        &__middle {
          p {
            font-size: 16px;
          }
        }

        &__right {
          .time-bottom {
            font-size: 36px;
          }

          .time-top {
            font-size: 18px;
          }
        }
      }
    }
  }
}
