@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900&subset=latin-ext');

.footer {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    text-align: center;
    color: #9d9d9d;
  }
}