@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.login {
  .login-open {
    background-color: transparent;
    border: none;
    width: 45px;
    height: 25px;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;

    &:hover, &:focus {
      outline: transparent;
    }
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    z-index: 2;

    .ReactModal__Content {
      width: 430px;
      height: 50%;
      overflow: hidden;

      .log-title {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-align: center;
        color: #ff5151;
        margin: 20px;
        padding-bottom: 10px; 
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #f7f7f7;
      }

      .login-close {
        position: relative;
        top: -100px;
        left: 370px;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border: none;
        color: #ff5151;
        font-weight: 700;
        font-size: 20px;

        &:hover, &:focus {
          outline: transparent;
        }
      }

      form {
        input {
          position:relative;
          width: 380px;
          height: 50px;
          border: none;
          padding-left: 20px;
          margin: 20px 15px 20px 7px;
          outline: transparent;
          background-color: #ffffff;
          box-shadow: 0 2px 4px 0 rgba(151, 151, 151, 0.54);
        }

        .log-icon {
          .icon-eye {
            position: absolute;
            top: 245px;
            right: 40px;
            color: #c1c1c1;
          }
        }

        .login-entry {
          position: relative;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 140px;
          height: 45px; 
          background-color: transparent;
          border: 1px solid #ff5151;
          border-radius: 7px;
        }
      }

      .login-text {
        margin: 50px 0px 0px 40px;

        a {
          text-decoration: none;
          margin: 130px 0px 0px 5px;
          color: #ff5151;
        }
      }
    }
  }
}