@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

.homepage {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  .footer-slider {
    margin-top: 400px;
  }
}

@media (max-width: 770px) {
  .homepage {
    .footer-slider {
      margin: 400px 0px 20px 0px;
    }
  }
}