@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.header-slider {
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(199, 199, 199, 0.5);
  width: 100%;
  height: 500px;
  padding: 0px;
  margin: 0px 0px 70px 0px;
  
  .event {
    width: 100%;
    margin: 0px 0px 20px 0px;
    overflow: hidden;

    img {
      width: 100%;
      height: 400px;
    }

    .event-name {
      margin: 20px 0px 0px 50px;
      font-size: 18px;
      font-weight: 500;
      color: #ff4e4e;
    }

    .event-date {
      margin: 5px 0px 0px 50px;
      font-size: 16px;
      font-weight: 500;
      color: #4a4a4a;
    }
  }

  .slick-initialized {
    .slick-track {
      width: 100%;
    }

    .slick-dots {
      position: absolute;
      top: 150px;
      right: 20px;
      width: 30px;

      li {
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 2px solid #5aa6ff;
        border-radius: 50%;

        button {
          &:before {
            content:"";
          }
        }

        &.slick-active {
          button {
            &:before {
              content:"";
              width: 16px;
              height: 16px;
              margin: 5px 0px 0px 5px;
              background-color: #5aa6ff;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}


